body {
    margin: 0;
}

/* Start of header CSS */
header {
    background-color: rgb(245, 90, 90);
    height: 80px;
    padding: 15px;
    margin-bottom: 50px;
}

header > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Inter;
}

#globe-image {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
/* End of header css */

/* Start of entry css */

.entry {
    margin-right: 25px;
    margin-bottom: 50px;
    font-family: Inter;
}

.entry img {
    margin-right: 8px;
    width: 7px;
    height: 9.55px;
}
.country-header {
    display: inline-block;
    margin-right: 20px;
    margin-left: 200px;
    font-size: 10.24px;
}
.map {
    display: inline-block;
    color: black;
    font-size: 10.24px;
}

.location {
    margin-left: 200px;
    font-size: 20px;
}

.dates {
    margin-left: 200px;
    font-size: 10.24px;
}

.description {
    margin-left: 200px;
    font-size: 10.24px;
}