body {
    margin: 0;
}

/* Start of Header CSS */
header {
    background-color: rgb(245, 90, 90);
    height: 80px;
    padding: 15px;
    margin-bottom: 50px;
}

header > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Inter;
    font-weight: normal;
}

#globe-image {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
/* End of Header CSS */

/* Start of Entry CSS */

a {
    color: #918E9B;
}

article {
    display: flex;
    height: 180px;
    margin-bottom: 50px;
    margin-right: 25px;
}
.entry-image-container {
    margin-right: 20px;
    margin-left: 50px;
    width: 125px;
    height: 168px;
    overflow: hidden;
    flex-shrink: 0;
}

.entry {
    font-family: Inter;
    align-self: center;
}

.icon {
    margin-right: 8px;
    width: 7px;
    height: 9.55px;

}
.country-header {
    display: inline-block;
    margin-right: 20px;
    font-size: 10.24px;
    padding: 0;
    height: 0px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #2B283A;
}

.map {
    display: inline-block;
    font-size: 10.24px;
}

.location {
    font-size: 20px;
    height: 50px;
    color: #2B283A
}

.dates {
    color: #2B283A;
    font-size: 10.24px;
}

.description {
    font-size: 10.24px;
}

.location-image {
    width: 100%;
    height: 100%;
}

/* End of Entry CSS */