#name {
    font-size: 6vh;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.lead {
    font-size: 3vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


.navbar {
    display: flex;
    padding: 25px;
    justify-content: center;
    gap: 100px;
    /* background: linear-gradient(300deg, #000B4F, #20368F, #20368F);
    background-size: 100% 100%; */
    border: 1px solid cyan;
    position: fixed;
    width: 100%;
    background-color: black;
    
}

.navbar a {
    color: black;
    width: 100px;
    height: 30px;
    text-decoration: none;
    text-align: center;
    border-radius: 10%;
    border-color: #000B4F;
    background-color: cyan;
    
}

.navbar-hide {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  }

.gradient-background {
    /* background: linear-gradient(300deg, #000B4F, #20368F, #829CD0); */
    /* background: linear-gradient(300deg, #000B4F, #20368F, #20368F);
    background-size: 100% 100%; */
    height: 100vh;
    border: 1px solid cyan
}


@media (min-width: 319px) and (max-width: 480px) {
    .lead {
        font-size: 20px;
    }
    .gradient-background {
        height: 100%;
    }

    #AboutMe img {
        height: 100px;
        width: 100px;
        margin-top: 20px;
        

    }
    #java-logo {
        border: px solid green;
        border-radius: 10%;
    }
    .navbar {
        gap: 30px;
        
    }
}

@media (min-width: 481px) and (max-width: 1200px) {
    .gradient-background {
        height: 100%;
    }
    .navbar {
        gap: 30px;
        
    }
    #AboutMe img {
        margin-left: 70px;
    }
}
@media (min-width: 1201px) {
    #AboutMe img {
        width: 200px;
        height: 200px;
        margin-left: 50px;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#AboutMe {
    color: white;
    border: 1px solid cyan
}

.responsive-logo {
    width: 100px;  
    height: auto;
}

#Projects {
    border: 1px solid cyan;
}

/** Space effect created below */
.main {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 1px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: -24vw -44vh 2px 2px #fff,38vw -4vh 0px 0px #fff,-20vw -48vh 1px 2px #fff,-39vw 38vh 3px 1px #fff,-42vw -11vh 0px 3px #fff,12vw 15vh 3px 3px #fff,42vw 6vh 3px 2px #fff,-8vw 9vh 0px 2px #fff,34vw -38vh 1px 0px #fff,-17vw 45vh 3px 1px #fff,22vw -36vh 3px 2px #fff,-42vw 1vh 1px 0px #fff;
    animation: zoom 6s alternate infinite;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}

body {
    background-color: #000;
}