 {

}

.nav-header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: rgba(33, 34, 42);
    color: rgba(97, 218, 251);
    height: 91px;

}

.nav-header > img {
    width: 40px;
    height: 28.93px;
    align-self: center;
}

.nav-header > h1 {
    align-self: center;
}



