
body {
    margin: 0;
    font-family: Inter, sans-serif;
}
header {
    background-color: rgba(33, 34, 42);
    height: 90px;
    padding: 30px 25px;
}

nav {
    display: flex;
    align-items: center;
    height: 100%;
}

nav > img {
    width: 40px;
    height: 28.93px;
    margin-left: 7px;
}

nav > span {
    color: #61DAFB;
    font-size: 1.4rem;
    font-weight: 700;
}




